/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*generics*/
body {
    font-family: Open Sans;
}
header {
    background-color: white;
}
footer{
    height: 300px;
    margin-top: 20px;
}
/*utils*/
.container-big {
    max-width: 1200px;
    margin: 0 auto;
    background-color: pink;
}
.container-small {
    max-width: 1000px;
    margin: 0 auto;
}
.flex {
    display: flex;
}
.debug .border {
    border: 1px dashed;
}
/*Header*/
.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* evitiamo che vadano a capo i link*/
.navbar a {
    white-space: nowrap;
    text-decoration: none;
    color: black;
}
.navbar > * {
    /*padding: 10px 0;*/
    flex-basis: 20%;
    background-color: goldenrod;
}
.navbar-menu,
.navbar-actions,
.navbar-assistance {
    display: flex;
    gap: 20px;
    align-items: center;
}
.navbar-assistance {
    text-align: right;
}
.navbar-actions {
    text-align: right;
}
.navbar-left {
    display: flex;
}
.navbar-right {
    display: flex; 
}
/*Jumbotron*/
.jumbotron{
    height: 400px;
    display: flex;
    justify-content: center;
}
.jumbotron .content {
    width: 50%;
    background-color: blueviolet;
}
/*Main*/
.choose-plan {
    min-height: 40px;
    background-color: yellow;
    margin: 40px 0;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}
.riga {
    display: flex;
    flex-direction: row;
    border: 2px solid white;
}
.col {
    flex-basis:calc( 100% / 3 - 40px);
    border: 2px solid red;
}

.full-col{
    flex-basis: 100%;
} 
.card {
    min-height: 300px;
    background-color: yellow;
}
.cuadro {
    flex-basis: calc( 100% / 3 );
    height: 300px;
    background-color: forestgreen;
}

.left-side {
    height: 300px;
    background-color: orange;

}
.right-side {
    height: 200px;
    background-color: orchid;

}
.title-operations {
    min-height: 30px;
    background-color:yellow;
    margin: 40px 0;
}
.faq {
    height: 300px;
    background-color: burlywood;
    margin-top: 30px;
    margin-bottom: 30px;
}




.bg-pink {
    background-color: palevioletred;
}
.bg-blue {
    background-color: lightblue;
}
.bg-color-white {
    background-color: white;
}
.hg-50 {
    height: 50px;
}
.hg-200 {
    min-height: 200px;
}
.hg-300 {
    min-height: 300px;
}
.hg-600 {
    min-height: 600px;
}
.fl-20 {
    flex-basis: 20%;
}
.fl-30 {
    flex-basis: 30%;
}
.fl-40 {
    flex-basis: 40%;
}
.fl-60 {
    flex-basis: 60%;
}
.fl-70 {
    flex-basis: 70%;
}

.pd-5-10 {
    padding: 5px 10px;
}
