/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*generics*/
body {
    font-family: Open Sans;
    background-color: coral;
}
header {
    background-color: white;
}
/*utils*/
.container {
    max-width: 1200px;
    margin: o auto;
}
.flex {
    display: flex;
}
.debug .border {
    border: 2px dashed;
}
/*Header*/
.navbar {
    height: 80px;
    display: flex;
    align-items: center;
}
.navbar > * {
    padding: 10px 0;
    flex-basis: 20%;
    background-color: goldenrod;
}
.navbar-menu {
    flex-grow: 1;
    text-align: center;
}
.navbar-actions {
    text-align: right;
}